

@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #F6F7F8;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button:active,
button:focus {
    outline: none;
}
.btn {
    transition: .4s all;
    &:hover {
        background: #FB143E;
        box-shadow: 0px 4px 15px rgba(220, 45, 77, 0.25);
    }
    &:active {
        background: #FF002F;
        box-shadow: 0px 4px 15px rgba(220, 45, 77, 0.25);
        border-radius: 25px;
    }
}
.page-wrap {
    // display: flex;
    width: 100%;
}
.content {
    margin-left: 410px;
}
.container-fluid {
    max-width: 1515px;
    overflow: hidden;
}

@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/offer';
@import 'blocks/why-we';
@import 'blocks/doctor';
@import 'blocks/feedback';
@import 'blocks/footer';