

@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #F6F7F8;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-wrap {
    // display: flex;
    width: 100%;
}
.content {
    margin-left: 410px;
    // padding-left: 40px;
    // padding-right: 40px;
}


@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/offer';
@import 'blocks/why-we';
@import 'blocks/doctor';