
.nav {
  margin-bottom: 70px;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-search {
    margin-left: 70px;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        transform: translateX(45px);
        z-index: 10;
        position: relative;
      }
      input {
        position: relative;
        z-index: 1;
        width: 740px;
        height: 60px;
        border: 1px solid #666874;
        box-sizing: border-box;
        filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
        border-radius: 25px;
        outline: none;
        padding-left: 60px;
        padding-right: 65px;
      }
      button {
        transform: translateX(-46px);
        z-index: 4;
        background: #006DF0;
        box-shadow: 0px 5px 15px rgba(0, 109, 240, 0.25);
        border-radius: 25px;
        width: 106px;
        height: 60px;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
      }
    }
  }
  &-button {
    margin-left: 70px;
  }
  &-btn {
    font-weight: bold;
    width: 235px;
    height: 60px;
    font-size: 16px;
    background: #EE1C42;
    box-shadow: 0px 4px 15px rgba(220, 45, 77, 0.25);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    outline: none;
    border: none;
  }

  &-toggle {
    display: none;
  }
  &-btn-mobile { 
    display: none;
  }
}

.header {
  width: 100%;
  background: linear-gradient(90.87deg, #EDF6F7 27.46%, #E2F4EA 87.17%);
  padding-bottom: 373px;
  padding-top: 7px;
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-slide {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: auto;
    min-width: 448px;
    max-width: 600px;
    min-height: 240px;
    height: 260px;
    max-height: 300px;
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    &_1 {
      background: linear-gradient(92.15deg, #FC9E60 14.09%, #FDC765 94.16%);
    }
    &_2 {
      background: linear-gradient(90deg, #4CBB86 18.84%, #8ED6B3 86.36%);
    }
    &_3 {
      background: linear-gradient(90deg, #8ACED3 13.93%, #B0E6EB 79.64%);
    }
    &__title {
      margin-top: 30px;
      font-weight: 800;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      color: #FFFFFF;
      max-width: 365px;
    }
    &__image {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      img {

      }
    }
  }
}
.swiper {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  &-pagination {
    bottom: -25px;
    span {
      margin: 0px 15px!important;
      width: 9px;
      height: 9px;
    }
  }
}